<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--====styling=====-->
  <link rel="stylesheet" href="{% static 'css/signout.css' %}">
  <!--===Poppins===-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <!--======Boxicons======-->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <title>Quiz web app</title>
</head>
<body>

{% load i18n %}

{% block content %}

<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a href="{% url 'home' %}" class="button"><i class='bx bx-arrow-back'></i>Home</a>
  <button type="submit" class="button-light">{% trans 'Logout' %}</button>
</form>


{% endblock %}

</body>
</html>